In [1]:
from pandas import read_csv
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import time

In [2]:
dataframe = read_csv("CombineAlltrain_x.csv", header=None)
dataframe1 = read_csv("CombineAlltrain_y.csv", header=None)    #  train_y.csv

In [3]:
df1 = dataframe.transpose()
df2 = dataframe1.transpose()

        0
0       1
1       0
2       0
3       1
4       1
...    ..
309995  1
309996  0
309997  1
309998  0
309999  0

[310000 rows x 1 columns]

In [11]:
result = pd.concat([df1, df2], axis = 1)
result

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,0
0,0.000162,0.754230,0.390240,0.096657,-0.134140,-0.285840,-0.363000,-0.38662,-0.365150,-0.273830,...,0.24150,0.244750,0.25452,0.22663,0.185390,0.16298,0.109990,0.020285,-0.018043,1
1,-0.137020,-1.612000,-0.975430,-0.395650,-0.023618,0.313810,0.482910,0.55923,0.541160,0.496010,...,-0.24395,-0.258100,-0.27578,-0.24658,-0.182920,-0.13586,-0.110450,-0.007003,0.037343,0
2,0.049538,0.172830,0.209530,0.240060,0.230750,0.241280,0.235760,0.25452,0.157960,0.117660,...,-0.22778,-0.268500,-0.26239,-0.23666,-0.194220,-0.15629,-0.108000,-0.049583,0.034667,0
3,0.053752,1.697300,1.022700,0.385290,-0.066441,-0.261630,-0.479750,-0.56126,-0.548870,-0.468310,...,0.24495,0.244250,0.25095,0.23610,0.200440,0.16360,0.111070,0.005633,0.004680,1
4,-0.075404,-0.176800,-0.195020,-0.226940,-0.236450,-0.220750,-0.252400,-0.21881,-0.174950,-0.136300,...,0.23547,0.245530,0.26604,0.24090,0.192990,0.15219,0.090703,0.057854,-0.069752,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,-0.371250,0.758790,0.846480,0.307820,-1.140800,-0.092111,-0.531900,-0.38600,-0.169940,0.041201,...,0.25745,0.275240,0.76089,-0.46215,0.288470,0.52185,0.056765,-0.749070,-0.470190,1
309996,0.161310,-1.137000,-0.977550,-0.124900,-0.363560,0.068630,0.683670,0.36108,0.308470,0.507000,...,-0.46536,0.106720,0.49286,-0.25364,-0.158850,-0.59711,0.415140,-0.514490,-0.020793,0
309997,-0.447780,2.198000,-0.047146,0.360240,-0.272410,-1.488900,0.281720,-0.38256,-0.098773,0.087100,...,-0.10913,0.086498,0.29236,0.65850,0.894370,-0.18423,0.298160,0.773770,-1.719300,1
309998,0.554620,-1.514200,-1.302400,-0.339050,0.272730,1.025700,0.077107,1.10560,0.027848,0.452700,...,-0.49162,-0.578080,-0.08500,-0.74675,0.053742,-0.65392,-0.346090,-0.081469,0.613440,0
309999,-0.215780,0.054395,-0.085242,-0.500900,0.719190,0.853630,0.545790,0.59234,0.079819,0.777690,...,-0.54283,-0.410450,-0.32043,0.22822,0.104630,-0.83149,0.018020,0.687010,-1.201800,0

In [12]:
result.to_csv('result.csv')

In [4]:
df1.to_csv('df1.csv')